*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#banner-section-1{
  background: url(..//img/banner\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  
}

#banner-section-2{
  background: url(..//img/banner\ 2.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  text-align: center;
}

#footer-section{
  background:rgb(107, 106, 106) url(../img/banner-footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}